*{
    box-sizing: border-box;

}
body{
    font-family: "Quicksand", sans-serif;
}
.container{
    margin: 0 auto;
    width: 1296px;
}
/* Header */
.header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}
.left-header-wraper{
    display: flex;
    gap: 44px;
}
.heade-logo{
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: 0.02em; 
    color: #000; 
}
.header-menu{
    position: relative;
}
.header-explore{
    outline: none;
    width: 98px;
    padding: 10px 12px;
    appearance: none;
    background-color:#0F8277;
    border-radius: 4px;

    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    color: #EEEE;  
}
.header-menu::before{
    content: '';
    display: block;
    width: 10px;
    height: 8px;
    background-image: url(../images/academic/selector.svg);
    background-repeat: no-repeat;
    
    position: absolute;
    z-index: 1;
    top: 40%;
    right: 9px;
}
.header-searsh-item{
    outline: none;
    width: 330px;
    height: 36px;
    margin: 2px 0;
    padding-left: 12px;
    border-radius: 4px;
    border: 1px solid #5C5C5C;
}
.header-searsh{
    position: relative;
}
.header-searsh::before{
    content: '';
    display: block;
    width: 34px;
    height: 34px;
    background-color:  #0F8277;
    border: 1px solid #5C5C5C;
    border-radius: 0 4px 4px 0;
    position: absolute;
    z-index: 2;
    top: 2px;
    right: 0;
}
.header-searsh::after{
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../images/academic/search.svg);
    background-repeat: no-repeat;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    right: 9px;
}
.right-header-wraper{
    display: flex;
    gap: 44px;
}
.header-nav{
    display: flex;
    align-items: center;
    gap: 48px;
}
.header-nav-item{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;   
}
.btn-log,.btn-sign{
    padding: 10px 12px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: center;
    color: #0F8277;
    background-color: #fff;
    border-radius: 4px;
}
.btn-sign{
    color: #EEEE;
    background-color: #0F8277;
}
/* Header */
/* Hero */
.hero{
    display: flex;
    align-items: center;
    background-color: #DBF3ED;
    padding: 39px 0 30px; 
    margin-bottom: 80px;
}
.hero-info{
    width: 512px;
    margin-left: 110px;
    margin-right: 94px;
}
.hero-info-title{
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    text-align: left; 
    margin-bottom: 32px;  
}
.hero-info-subtile{
    font-size: 22px;
    font-weight: 600;
    line-height: 26.4px;
    text-align: left;
    padding-right: 32px;
    margin-bottom: 42px;
}
.hero-button-item{
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: center;
    padding: 10px 12px;
    border: 2px solid #0F8277; 
    border-radius: 4px;
    color: #0F8277;  
}
.bgc{
    background-color: #0F8277;
    color: #fff;
    margin-right: 24px;
}
/* Hero */

/* Section Description */
.section-description{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;   
    color: #0F8277;
}
.section-title{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;   
}
.section-subtitle{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    margin-bottom: 40px;
}
.section-description,
.section-title{
    margin-bottom: 12px;
}
/* Section Description */

/* Academic */
.academic{
    margin-bottom: 80px;
}
.academic-program{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    gap: 24px;
}
.program-card{
   border: 1px solid #DADADA;
   border-radius: 5px;
}
.program-card-img{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.program-card-info{
    padding: 24px 16px;
    color: #000;
}
.card-title{
    display: flex;
    margin-bottom: 16px;
}
.card-title-text{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    padding-left: 10px;
   
}
.program-card-subtitle{
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: left; 
    margin-bottom: 77px;
}
.program-card-button{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;   
    padding-left: 32px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    color: #0F8277;
}
.program-card-button::before{
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(../images/academic/cds-react-aria-9.svg);
    position: absolute;
    left: 0;
    top: 0;
}
.program-card:last-child .program-card-subtitle{
    margin-bottom: 48px;
}
/* Academic */
/* Courses */
.courses{
    margin-bottom: 80px;
}
.course-galery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 40px;
    gap: 24px;
}
.course-card{
    border: 1px solid #DADADA;
    border-radius: 5px;
}
.course-card-img{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.course-card-info{
    padding: 24px 16px;
    color: #000;
}
.cousre-card-subtitle{
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: left; 
    margin-bottom: 86px;
}
.course-card-button{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    background-color: transparent;
    color: #0F8277;
    border: none;
}
.course-card:nth-child(even) 
.cousre-card-subtitle{
    margin-bottom: 57px;
}
.section-btn{
    display: block;
    position: relative;
    margin: 0 auto;
    border: none;
    background-color: transparent;
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
}
.section-btn::after{
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(../images/course/Vector.svg);
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    right: -30px;
    top: 6px;
}
/* Courses */
/* Facture */
.facture{
    margin-bottom: 80px;
}
.facture-category{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.category{
    margin-top: 28px;
}
.category-title{
    margin-bottom: 32px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;   
}
.category-item{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px; 
    color: #0F8277;
    cursor: pointer;   
}
.category-description{
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px; 
    cursor: pointer; 
}
/* Facture */
/* Partners */
.partners{
    padding: 80px 0;
    background-color: #DBF3ED;
    margin-bottom: 80px;
}
.partners-title{
    margin: 0 auto;
    margin-bottom: 60px;
    width: 871px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center; 
}
.partners-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Partners */
/* Busines */
.busines{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
.busines-info{
    padding-right: 68px;
    align-content: center;
}
.busines-title{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px; 
    margin-bottom: 32px;  
}
.busines-description{
    font-size: 22px;
    font-weight: 600;
    line-height: 26.4px;  
    margin-bottom: 32px; 
}
.busines-btn{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: center;
    color: #fff;
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
    background-color: #0F8277;

}
.busines-icon{
    display: grid;
    grid-template-columns: repeat( 3, 196px);
    grid-template-rows: repeat(3, 136px);
}
.busines-img{
    text-align: center;
    align-content: center;
}
.busines-img:nth-child(2),
.busines-img:nth-child(3),
.busines-img:nth-child(5),
.busines-img:nth-child(6),
.busines-img:nth-child(8),
.busines-img:nth-child(9) {
    border-left: 1px solid #BABABA;
}
.busines-img:nth-child(4),
.busines-img:nth-child(5),
.busines-img:nth-child(6),
.busines-img:nth-child(7),
.busines-img:nth-child(8),
.busines-img:nth-child(9) {
    border-top: 1px solid #BABABA;
}
/* Busines */
/* Price */
.price{
    background-color: #DBF3ED;
    padding: 80px 0 100px;
    margin-bottom: 80px;
}
.price-title{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin-bottom: 40px;
}
.price-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px; 
}
.price-card-item{
    background-color: #fff;
    padding: 56px;
    border-radius: 24px;
    text-align: center;
    cursor: pointer;
}
.price-card-item:hover{
    background-color: #0F8277;
    color: #fff;
}
.price-card-item:hover 
.price-card-btn,
.price-card-item:hover 
.price-card-info{
    border-color: #fff;
}
.price-card-item:hover 
.price-card-description::before{
    background-color: #fff;
}
.price-card-item:hover 
.price-card-description::after{
    background-image: url(../images/busines/Vector\ hover.svg);
}
.price-card-info{
    padding-bottom: 48px;
    margin-bottom: 48px;
    border-bottom: 2px solid #0F8277;
}
.price-card-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px; 
    margin-bottom: 37px;
}
.price-card-subtitle{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    margin-bottom: 27px;   
}
.price-card-price{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 75px;
}
.price-card-price::after{
    content: '/ MO';
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    position: relative;
    top: -9px;
    margin-left: 16px;
}
.price-card-item:nth-child(2)
.price-card-price::after{
    content: '/ MO'; 
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    position: relative;
    top: -9px;
    margin-left: 16px;  
}
.price-card-item:nth-child(3)
.price-card-price::after{
    content: '/ Y';
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    position: relative;
    top: -9px;
    margin-left: 16px;  
}
.price-card-btn{
    font-family: Cabin;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.87px;
    letter-spacing: 0.04em;
    color: #fff;
    padding: 10px 12px;
    border: 2px solid #0F8277;
    border-radius: 4px;
    background-color: #0F8277;
}
.price-card-item:nth-child(2)
.price-card-price{
    margin-bottom: 27px;
}
.price-card-item:nth-child(3)
.price-card-price{
    margin-bottom: 46px;
}
.price-card-description{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;   
    margin-bottom: 16px;
    padding-left: 32px;
    text-align: left;
    position: relative;
} 
.price-card-description:last-child{
    margin-bottom: 0;
}
.price-card-description::before{
    content: '';
    display: block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
    color: #fff;
	background-color: #0F8277;
    position: absolute;  
    left: 0;
    top: 2px;
}
.price-card-description::after{
    content: '';
    display: block;
	width: 16px;
	height: 16px;
    background-image: url(../images/busines/Vector\ 2.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 3px;
    top: 6px;
}
/* Price */
/* Students */
.studets{
    margin-bottom: 76.5px;
}
.studets-title{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin-bottom: 40px;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    'studet1 studet9 studet9 studet8'
    'studet2 studet9 studet9 studet7'
    'studet3 studet4 studet5 studet6';
    gap: 24px 24px;
}
.gallery-studet1{
    grid-area: studet1;
    /* grid-column:1 / 2 ;
    grid-row: 1; */
}
.gallery-studet2{
    grid-area: studet2;
    /* grid-column:1 / 2 ;
    grid-row: 2; */
}
.gallery-studet3{
    grid-area: studet3;
    /* grid-column:1 / 2 ;
    grid-row: 3; */
}
.gallery-studet4{
    grid-area: studet4;
    /* grid-column:2 / 3 ;
    grid-row: 3; */
}
.gallery-studet5{
    grid-area: studet5;
    /* grid-column:3 / 4 ;
    grid-row: 3; */
}
.gallery-studet6{
    grid-area: studet6;
    /* grid-column: 4 / 5 ;
    grid-row: 3 ; */
}
.gallery-studet7{
    grid-area: studet7;
    /* grid-column:4 / 5 ;
    grid-row: 2; */
}
.gallery-studet8{
    grid-area: studet8;
    /* grid-column:4 / 5 ;
    grid-row: 1; */
}
.gallery-studet9{
    grid-area: studet9;
    /* grid-column: 2 / 5;
    grid-row: 1 / 3 ; */
}
/* Students */
/* ContactUs */
.cantactUs{
    background-image: url(../images/contactUs/image\ 32.png); 
    background-repeat: no-repeat; 
    background-size: cover;
    padding-top: 67px;
    padding-bottom: 47px; 
}
.contactUs-form{
    margin: 0 auto;
    width: 565px;
    background-color:#DBF3ED;
    border-radius: 24px;
    padding: 38px; 
}
.contactUs-title{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 24px;
    text-align: center;
}
.contactUs-description{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 24px;
    text-align: center;  
}
.contactUs-form label{
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    text-align: left; 
}
.cantactUs-form-item{
    width: 100%;
    height: 48px;
    margin: 8px 0 24px;
}
.cantactUs-form-item::placeholder,
.cantactUs-form-area::placeholder{
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left; 
    padding: 12px ;  
}
.cantactUs-form-area{
    resize: none;
    width: 100%;
    height: 104px;
    margin: 8px 0 24px;
}
.contactUs-btn{
    padding: 10px 77px;
    background-color:#0F8277;
    border:none;
    border-radius: 4px;
    color: #fff;
}
/* ContactUs */
/* Footer */
.footer{
    padding: 64px 0;
    display: flex;
    justify-content: space-between;
}
.footer-left{
    width: 306px;
}
.footer-logo{
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: 0.02em;
    color: #000;
}
.footer-logo-description{
    margin-top: 16px;
}
.footer-logo-description,
.footer-social-text{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: left;
}
.footer-social{
    text-align: right;
    margin-bottom: 60px;
}
.footer-social-icon{
    margin-left: 24px;
}
/* Footer */