*{
    box-sizing: border-box;

}
body{
    font-family: sans-serif;
    background-color: #3A4965;
}
.table-one,
.table-two{
    font-family: "Arimo", sans-serif;
    margin: 100px auto;
    text-transform: uppercase;
    text-align: center;
    background-color: #fff;
}
.hero-seting{
    padding: 48px 55px; 
}
.hero-choose{
    font-size: 18px;
    font-weight: 700;
    line-height: 28px; 
    
}
.hero-price{
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
}
.option-standart{
    background-color: #89C331;
}
.option-ultimate{
    background-color: #F04A56;
}
.option-premium{
    background-color: #20807C;
   
}
.option-standart,
.option-ultimate,
.option-premium{
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    color: #F2F2F2;
}



.price-standart,
.price-ultimate,
.price-premium{
    padding: 10px 34px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    position: relative;
}
.price-dolar{
    vertical-align: middle;
    font-size: 60px;
    font-weight: 700;
    line-height: 28px;
    
}
.price-cent{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    position: absolute;
    top: -15px;
}
.storage,
.bandwidth,
.email,
.support,
.products,
.user, td{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
    padding: 22px 36px;  
}
.storage,
.email,
.products{
    background-color: #F2F2F2; 
}
.bandwidth,
.support,
.user{
    background-color: #E3E3E3; 
}
.button-cell{
    padding: 27px 0;
}
.button-cell:first-of-type{
    background-color: #F2F2F2;
}
.button-black{
    background-color: #484848;
}
.button-gren{
    background-color: #89C331;
}
.button-red{
    background-color: #F04A56;
}
.button-blue{
    background-color: #20807C;
}
.button-black,
.button-gren,
.button-red,
.button-blue{
    width: 190px;
    height: 50px;
    color: #F2F2F2;border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;   
    text-transform: uppercase;
    border-radius: 5px;
}
.storage-item,
.bandwidth-item,
.email-item,
.support-item,
.products-item,
.user-item{
    display: flex;
    justify-content: center;
}

.icon-storage,
.icon-badwidth,
.icon-email,
.icon-support,
.icon-product,
.icon-user{
    width: 26px;
    height: 26px;
    padding-right: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-storage{
    background-image: url(./icon/stor.png);
}
.icon-badwidth{
    background-image: url(./icon/band.png);
}
.icon-email{
    background-image: url(./icon/email.png);
}
.icon-support{
    background-image: url(./icon/sup.png);
}
.icon-product{
    background-image: url(./icon/prod.png);
}
.icon-user{
    background-image: url(./icon/user.png);
}
/* Table-two */
.choose-row td{
    line-height: 28px;
    border-bottom: 10px solid 
    #3A4965;
}
.hero-choose-row{
    font-size: 14px;  
}
.hero-price-row{
    font-size: 20px;   
    font-weight: 700;
}
.standard-row, 
.ultimate-row,
.premium-row{
    text-align: center;
}
.option-standart-row{
    background-color: #89C331;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: #fff;
}
.option-ultimate-row{
    background-color: #F04A56;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: #fff;
}

.option-premium-row{
    background-color: #20807C;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: #fff;
}
.price-standart-row,
.price-ultimate-row,
.price-premium-row{
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;  
    margin: 5px;
    position: relative;
}

.price-dolar-row{
    font-size: 36px;
    font-weight: 700;
    line-height: 28px;
    margin-right: 10px; 
}
.price-cent-row{
    position: absolute;
    top: -10px;
    left: 72px;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px; 
}
.table-two td:nth-child(2),
.table-two td:nth-child(4),
.table-two td:nth-child(6){
    background-color:#F2F2F2;
}

  .table-two td{
    width: 160px;
}
/* Table-two */





.th, td{
    border: 1px solid #333;
    vertical-align: middle;
}

