ul {
  list-style: none;
  padding-left: 0;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs {
  display: flex;
}

.tabs-title {
  padding: 20px;
  background-color: #23201D;
  color: #937341;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.tabs-title:hover {
  background-color: #3a352f;
  color: #d4a35e;
}

.tabs-title.active {
  background-color:#e2b977 ;
  color: #23201D;
}

.tabs-content {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.tab-content {
  display: none;
  padding: 10px;
  background-color: #1c1a17;
  color: #d4c8b4;
  border: 1px solid #937341;
  border-radius: 5px;
}

.tab-content.active {
  display: block;
}
