*{
    font-family: "roboto";
}
.container{
    width: 1280px;
    margin: 60px auto 30px;
}
.logo{
    font-size: 80px;
    font-weight: 400;
    line-height: 93.75px;
    color: #000;
}
.logo span{
    color: #4BCAFF;
}
.soundbar{
    width: 100%;
    padding: 0 160px;
    display: flex;
    justify-content:center;
    background-color: #35444F;
    margin-top: 40px;
}
.soundbar-item{
    display: flex;
    justify-content: center;
    padding: 20px 32px;
    font-size: 24px;
    line-height: 28.13px;
    color: #FFFFFF;
    border-left: #ffffff 1px solid;
}
.soundbar-item:hover{
    background-color: #222F3A;
}
.soundbar-item:last-child{
    border-right: #ffffff 1px solid;
}
.content-box{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
.content-menu{
    width: calc(30% - 20px);
}
.content-menu-list{
    border: #000 1px solid;
}
.content-menu-item{
    font-size: 27px;
    font-weight: 400;
    line-height: 27px; 
    color: #495863;
    padding: 26px 44px;
}
.content-menu-item a{
    color: #495863
}
.content-menu-item:hover{
    padding-left: 70px;
    background-color: #DBDBDB;
}
.content-info{
    width: calc(70% - 20px) ;
}
.content-image{
    display: flex;
    justify-content: center;
    padding: 75px;
    margin-bottom: 37px;
    border: #000 1px solid;
    position: relative;
}
.content-image img{
    display: block;
    max-width: 100%;
    height: auto;
}
.content-image:hover img{
    transform: scale(1.1); 
    transition: transform 0.5s;
}

.content-text{
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    padding-bottom: 13px;
}
.footer{
    display: flex;
    justify-content: space-between;  
    background-color: #63696E7A;
    padding: 20px 40px;  
}
.footer-list{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.footer-item{
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    color: #0C1927;
}
.footer-item:hover{
    color: #448099;
    text-decoration: underline;
}
.footer-copyright{
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}