.app{
    padding: 52px 0 85px;
    background-color: #3C3C3C;
}
.cards{
    @include grid(1);
    row-gap: 63px;

    &__item{
        padding: 16px;
        border-radius: 24px;
        background-color: #FFFEF2;
        position: relative;
        &::after{
            content: url(../images/icon/arrow-up.svg);
            background-size: cover;
            background-position: center;
            padding: 11px;
            background-color: #fff;
            position: absolute;
            top: 30px;
            right: 30px;
            border-radius: 50px;
        }
        &-img{
            position: relative;
            &--second{
                position: absolute;
                left: 0;
            }
        }
        &-img img{
            width: 100%;
            height: 278px;
            border-radius: 13px ;   
            margin-bottom: 20px;
        }
        &-title{
            font-family: DynaPuff;
            font-size: 32px;
            font-weight: 600;
            line-height: 38.4px;
            color: #565656;
            margin-bottom: 20px;
        }
        &-text{
            font-family: Manrope;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;         
        } 
    }
    &__item:nth-child(n+3) {
        display: none;
    }
}
@media (min-width: $breakpoint-tablet) {
    .cards{
        @include grid(2);
        row-gap: 102px;
        column-gap: 40px;
        
        &__item:first-child{
            grid-column: 1 / 3;
        }
        &__item{
            &-img img{
                height: 498px; 
            }
        }
        &__item:nth-child(n+3) {
            display: block;
        }
        
        &__item:nth-child(n+4) {
            display: none;
        }
    }
}
@media (min-width: $breakpoint-desktop) {
    .cards{
        @include grid(3);
        row-gap: 102px;
        column-gap: 40px;

        &__item:first-child{
            grid-column: 1 / 4;
        }
        &__item:nth-child(n+4) {
            display: block;
        }
        &__item:nth-child(n+5) {
            display: none;
        }
    }
} 