.footer{
    background-color: #202020;
    padding-block: 53px 40px;
    text-align: center;

    &__btn{
        @include flexbox (center);
        border: 1px solid #f2f2f2;
        border-radius: 139px;
        padding: 10px 33px;
        margin-bottom: 113px;
        gap: 20px;

        &-icon svg{
            width: 50px;
            height: 50px;
        }
        &-description{
            color: #fff;
            
            &-title{
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
            }
            &-text{
                font-family: Manrope;
                font-size: 15px;
                font-weight: 500;
                line-height: 20.49px;
                text-align: left;
                position: relative;

                &::after{
                    content: url('../images/icon/arrow-r.svg');
                    position: absolute;
                    top: 3px;
                    right: 40px;
                }
            }
        }
    }
    &__network{
        @include flexbox (center) ;
        gap: 36px;
        margin-bottom: 21px;
    }
    &__copyright{
        font-family: Manrope;
        font-size: 14px;
        font-weight: 500;
        line-height: 19.12px;
        text-align: center;  
        color: #fff;     
    }

}
@media (min-width: $breakpoint-tablet) {
    .footer{
        padding-block: 96px 35px;
        
        &__btn{
            padding: 21px 37px;
            gap: 45px;
            margin-bottom: 60px;

            &-icon svg{
                width: 100px;
                height: 100px;
            }
            &-description{
                
                &-title{
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 57.6px;
                }
                &-text{
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 32.78px;
                    &::after{
                        right: 240px;
                    }
                }
            }
        }

    }
}
@media (min-width: $breakpoint-desktop) {
       .footer{
        padding-block: 78px 30px;
        
        &__btn{
            padding: 42px 137px;
            margin-bottom: 163px;
        }
        &__text{
            &::after{
                right: 240px;
            }
        }

    }
}
