.graphics{
    padding-top: 82px;
    padding-bottom: 138px;
    background-color: #202020;

    &__title{
        font-family: DynaPuff;
        font-size: 36px;
        font-weight: 700;
        line-height: 43px;
        text-align: left;
        color: #fff;
        margin-bottom: 28px;
    }
    &__gallery{
        @include grid(1);
        row-gap: 25px;
    
        &-item{
            position: relative;
            &-img{
                width: 100%;
                height: 325px;
                border-radius: 40px; 
            }
            &-icon{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50%;
                height: 50%;
            }
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    .graphics{
        padding-top: 82px;
        padding-bottom: 129px;
    
        &__title{
            font-size: 80px;
            font-weight: 700;
            line-height: 96px;
            text-align: left;
            color: #fff;
            margin-bottom: 38px;
        }
        &__gallery{
            @include grid(2);
            row-gap: 25px;
            column-gap: 36px;
            
            &-item:first-child{
                grid-column: 1 / 3;
            }
            &-item{
                position: relative;
                &-img{
                    width: 100%;
                    height: 414px;
                    border-radius: 40px; 
                }
            }
        }
    }
}
@media (min-width: $breakpoint-desktop) {
    .graphics{
        padding-top: 82px;
        padding-bottom: 138px;
    
        &__title{
            font-size: 80px;
            font-weight: 700;
            line-height: 96px;
            text-align: left;         
            color: #fff;
            margin-bottom: 38px;
        }
        &__gallery{
            @include grid(2);
            gap: 26px;
            
            &-item:first-child{
                grid-column: 1 / 3;
            }
            &-item{
                position: relative;
                &-img{
                    width: 100%;
                    height: 414px;
                    border-radius: 40px; 
                }
            }
        }
    }
} 