.head{
    position: absolute;
    position: fixed;
    width: 100%; 
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    &__nav{
        position: relative;
        padding-block: 18px;
        @include flexbox (space-between);      
    }
}

.menu{
    display: none;
    position: absolute;
    top: 80px;
    right: 20px;
    z-index: 2;
    &__item{
        &:not(:last-child) {
			margin-bottom: 22px;
		}
    }
    &__link{
        padding: 10px 16px;
        @include flexbox(center);
        column-gap: 12px;
        border: 1px solid #fff;
        border-radius: 25px;
    }
    &__text{
        font-family: Manrope;
        font-weight: 700;
        line-height: 21.86px;
        text-align: left; 
        color: #fff;     
    }

}

.burger:hover + menu{
    display: block;
}


@media (min-width: $breakpoint-tablet) {
   
}
@media (min-width: $breakpoint-desktop) {
    .head{
        left: 0;
    }
    .burger{
        display: none;
    }
    .menu{
        display: block;
        position: static;
        @include flexbox(center);
        column-gap: 20px;
        &__item{
            &:not(:last-child) {
                margin-bottom: 0;
            }
        }
    }
}



