.hero {
    background: linear-gradient(252.94deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
    padding: 412px 0 149px;
    
    &__title{
        font-size: 48px;
        font-weight: 700;
        line-height: 57.6px;
        text-align: left;
        color: #fff;
        padding-left: 0.5em;
    }
}

@media (min-width: $breakpoint-tablet) {
   .hero{
        padding: 179px 0 130px;
        &__title{
            font-size: 80px;
            font-weight: 700;
            line-height: 96px;      
        }
    }
}
@media (min-width: $breakpoint-desktop) {
    .hero{
        padding: 394px 0 119px;
    }
}
