.meet{
    padding-block: 74px;
    background-color: #202020;
    color: #fff; 
    position: relative;
    &::before{
        content: url(../images/icon/ellipseMb.svg);
        position: absolute;
        right: -50px;
        transform: translate(-50px, -50px);
    }
}
    .meet__feedback{
        max-width: 540px;
        
        &-title{
            font-size: 36px;
            font-weight: 700;
            line-height: 43.2px;
            color: #FAEB49;
            margin-bottom: 40px;
        }
        &-subtitle{
            font-family: Manrope;
            font-size: 15px;
            font-weight: 500;
            line-height: 20.49px;
            margin-bottom: 40px;       
        }
        &-reviews{
            @include flexbox (space-between);
            &-num{
                font-family: DynaPuff;
                font-size: 36px;
                font-weight: 700;
                line-height: 43.2px;
                margin-bottom: 5px;                  
            }
            &-text{
                font-family: Manrope;
                font-size: 16px;
                font-weight: 700;
                line-height: 21.86px;         
            }
        }
    }

@media (min-width: $breakpoint-tablet) {
    .meet{
        padding-block: 103px;

        &::before{
            content: url(../images/icon/ellipseBG.svg);
            top: 0%;
            transform: translate(-50px, -50px);
        }
        &-title{
            font-size: 48px;
        }
        &-num{
            font-size: 48px;
        }
    }
}
@media (min-width: $breakpoint-desktop) {
    .meet{
        padding-block: 103px;
        &::before{
            content: url(../images/icon/ellipseBG.svg);
            top: -6px;
            right: -50px;
            transform: translate(-50px, -50px);
        }
    }
} 


