// * Це головний sass/scss файл проекту
// * імпортуйте сюди всі інші ваші файли sass/scss
@import './helpers/mixins.scss';
@import './helpers/varibles.scss';
@import './helpers/reset.scss';

*{
    box-sizing: border-box;

}
body{
    font-family: "Cabin", sans-serif;
}
.container{
    width: 1296px;
    margin: 0 auto;
    padding: 0 16px;
    position: relative;
}
main{
    background-color: #EEEEEF;}


@import './sections/index.scss';