// * Це головний sass/scss файл проекту
// * імпортуйте сюди всі інші ваші файли sass/scss
@import './helpers/mixins.scss';
@import './helpers/varibles.scss';
@import './helpers/reset.scss';

*{
    box-sizing: border-box;

}
body{
    font-family: "Cabin", sans-serif;
}
.container{
    width: 1296px;
    margin: 0 auto;
    padding: 0 16px;
    position: relative;
}
main{
    background-color: #EEEEEF;
}
.bestseller{
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: left; 
    padding: 132px 0 24px;
    padding-bottom: 23px;
}
.chat{
    width: 64px;
    height: 64px;
    background-image: url(../images/icon/Property1.png);
    transition: .5s;
    border: none;
    position: absolute;
    background-color: transparent;
    
    bottom: 50px;
    right: 50px;
    position: fixed;
}
.chat:hover{
    background-image: url(../images/icon/Property2.png);
}

@import './sections/index.scss';