@mixin grid($column, $columnSize: minmax(300px, 1fr)) {
    display: grid;
    grid-template-columns: repeat($column, $columnSize);
  }
@mixin flexbox($horizontal, $vertical: center, $wrap: nowrap) {
    display: flex;
    justify-content: $horizontal;
    align-items: $vertical;
    flex-wrap: $wrap;
}
@mixin main-typography($horizontal){
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: $horizontal;   
}
