@import './helpers/index.scss';

body {
    font-family: "DynaPuff", system-ui;
}
.container {
    max-width: 343px;
	margin: 0 auto;
	padding: 0 0.5em;
	box-sizing: border-box;
    
	@media (min-width: 768px) {
		max-width: 1200px;
	}
	@media (min-width: 1200px) {
		max-width: 1050px;
	}
	// @media (min-width: 768px) {
	// 	max-width: 703px;
	// }
	// @media (min-width: 1440px) {
	// 	max-width: 1050px;
	// }
}

.description{
	padding-block: 175px;
	background-image: url(../images/RectangleBGI.png);
	
	&__title{
		font-size: 24px;
		font-weight: 700;
		line-height: 28.8px;
		text-align: center;
		color: #fff
	}
}
@media (min-width: $breakpoint-tablet) {
	.description{
		padding-block: 275px 294px;		
		&__title{
			font-size: 48px;
			line-height: 57.6px;		
		}
	}
}
@media (min-width: $breakpoint-desktop) {
	.description{
		padding-block: 303px 323px;
	}
} 




@import './sections/index.scss';