*{
    box-sizing: border-box;

}
body{
    font-family: sans-serif;
    background-color: #000;
}
.container{
    margin: 0 auto ;
    width: 100%;
    text-align: center;
    perspective: 450px;
}
.scroll-text{
    line-height: 100px;
    font-size: 100px; 
    color:  #f5db15;   
    position: relative;
    animation: scroll 30s linear forwards;
}
.title{
    margin-bottom: 50px; 
}
.subtitle{
    margin-bottom: 50px;
    text-transform: uppercase;
}
.introduction{
    text-align: justify;
    margin-bottom: 100px;
    text-transform: capitalize;
}  
.basic-text{
    text-align: justify;
}
@-webkit-keyframes scroll{
    from { top: 2000px; transform: translateZ(0) rotateX(20deg)}
    to { top: -6500px; transform: translateZ(-2500px) rotateX(21deg)}
}


