* {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkgrey;
}

.header {
    color: #fff;

    background-color: rgb(96, 96, 96);
    padding-block: 20px;
    display: flex;
    justify-content: center;
    font-size: 26px;
}

span {
    color: orangered;
}

.container {}

.card {
    border: solid black 2px;
    border-radius: 15px;
    padding: 10px;
    margin: 25px 50px;
}

.card__title {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
