*{
    box-sizing: border-box;

}
body{
    font-family: sans-serif;
}
.container{
    width: 1280px;
    margin: 0 auto;
    
}
.header{
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EBE8F4;
}
.header-logo{
    display: flex;
}
.header-logo-text{
    font-size: 24px;
    font-weight: 400;
    line-height: 29.26px;   
    color: #22202E;
}
.header-menu{
    display: flex;
    gap: 44px;
}
.header-menu-item{
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    color: #726E8D;
}
.header-action{
    display: flex;
    gap: 16px;
}
.header-action-search{
    background-image: url(./images/Search.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
}
.header-action-cart{
    background-image: url(./images/Shopping--cart.png);
    background-repeat: no-repeat;
    background-position: center ;
    width: 16px;
    height: 16px;
}
.header-action-user{
    background-image: url(./images/User--avatar.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px; 
}
/* Header */

/* Product Seting */
.product-title{
    display: flex;
    justify-content: center;
  
    font-size: 36px;
    font-weight: 300;
    color: #2A254B;
    opacity: 0.9;
    line-height: 50.4px;
    padding: 80px 0 24px;
    
}
.products{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.products-filters{
    display: flex;
    gap: 44px;
}
.products-filters-item,
.products-sorting-item{
    background-color: #fff;
    border: none;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.products-sorting{
    display: flex;
    gap: 40px;
}
.products-sorting-text{
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
/* Product Seting */

/* Goods */

.goods {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.goods-kard-subtitle{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px; 
    margin-top: 20px;
}
.goods-kard-price{
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;  
    margin-top: 8px;
}


.goods-chair,
.goods-vase-set,
.goods-sliky-vase,
.goods-lamp{
    color: #2A254B;
    
}
/* Goods */
/* Button */
.btm-colection{
    display: flex;
    margin: 0 auto 40px;
    padding: 16px 32px;
    border: none;
    background-color: #f9f9f9;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;   
}
/* Button */

/* Sing-Up */
.sing-up{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.sing-up_preview{
    width: 720px;
    height: 521px;
    background-image: url(./images/Image.png);
    background-repeat: no-repeat;
    background-position: center;
}
.sing-up_info{
    width: 720px;
    padding:60px 0;
    color:  #2A254B;
}
.sing-up_title{
    font-size: 32px;
    line-height: 39.01px;
    margin-bottom: 20px;
}
.sing-up_subtitle{
    max-width: 470px;
    font-family: Open Sans;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 240px;
}
.button-sing-up{
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding: 16px 32px;
    background-color: #2A254B;
}
/* Sing-Up */

/* Footer */
.footer{
    background-color: #2A254B;
}
.footer-info{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 60px 0;
}
.footer-info-list{
    display: flex;
    gap: 110px;
}
.footer-menu-item{
    font-size: 16px;
    line-height: 19.5px; 
    color: #fff;
    margin-bottom: 12px;
}
.footer-info-location{
    display: flex;
}
.social{
   display: flex;
   justify-content: space-between;
   border-top: 0.5px solid #4E4D93;
   padding: 24px 0;
}
.social-copyright{
    display: flex;
    font-size: 14px;
    line-height: 19.07px;  
    color: #fff;
}
.social-link{
    display: flex;
    gap: 24px;
}
.social-icon-linkedin{
    background-image: url(./images/in.png);
    background-repeat: no-repeat;
    background-position: center;
}
.social-icon-facebook{
    background-image: url(./images/facebook.png);
    background-repeat: no-repeat;
    background-position: center;
}
.social-icon-instagram{
    background-image: url(./images/instagram.png);
    background-repeat: no-repeat;
    background-position: center;
}
.social-icon-scype{
    background-image: url(./images/skype.png);
    background-repeat: no-repeat;
    background-position: center;
}
.social-icon-twitter{
    background-image: url(./images/twitter.png);
    background-repeat: no-repeat;
    background-position: center;
}
.social-icon-pinterest{
    background-image: url(./images/pinterest.png);
    background-repeat: no-repeat;
    background-position: center; 
}

.social-icon-linkedin,
.social-icon-facebook,
.social-icon-instagram,
.social-icon-scype,
.social-icon-twitter,
.social-icon-pinterest{
    width: 24px;
    height: 24px;
}
/* Footer */
