*{
    box-sizing: border-box;

}
body{
    font-family: sans-serif;
    font-family: Cabin;
}
.container{
    width: 1296px;
    margin: 0 auto;
    position: relative;
}
main{
    background-color: #EEEEEF;}
/* Header */
.header{
    background-color: #10BBD5;
    position: fixed;
    top: 0; 
    width: 100%; 
    z-index: 10;
}
.header-nav{
    background-color: #fff;
}
.header-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F8FDFE;
    padding: 16px 0;
    
}
.header-title-logo{
    display: flex;
    gap: 9px;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
    color: #F8FDFE;
}
.shopping{
    display: flex;
    align-items: center;
}
.shopping-price{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;   
}
.shopping-button{
    border: none;
    background-color: #10BBD5;
    cursor:pointer;
}
.shopping-icon-basket{
    display: block;
}
.shopping-icon-wheels{
    padding-left: 5px;
}
.header-subtitle{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
.subtitle-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;  
}
.subtitle-category{
    display: flex;
    gap: 40px;
}
.subtitle-category{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;   
}
/* Header */
/* Title */
.bestseller{
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: left; 
    padding: 132px 0 24px;
    padding-bottom: 23px;

}
/* Title */
/* Gallery */
.gallery{
    display: grid;
    gap:32px 24px ;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 120px;

}
.gallery-item{
    padding: 38px;
    background-color: #fff;
    border: 1px solid #A8A8A8;
    position: relative;
    z-index: 0;
}
.gallery-item-img{ 
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    position: relative;
    z-index: 0;
}   
.gallery-item-title{
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;  
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;  
}
.gallary-item-subtitle{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
    color: #8E8E8E;
    border-top: 1px solid #8E8E8E;
}
.gallary-item-price{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #E90000;
    margin: 8px 0 16px;
}
.price-sell{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-decoration: line-through;
    color: #8E8E8E;
    margin: 8px 0 16px;
    position: absolute;
    z-index: 1;
    top: 387px;
    left: 135px;
}
.gallary-item-button{
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #F8FDFE;
    text-align: center;
    padding: 8px 24px;
    width: 100%;
    background-color: #4C394E;
    border: none;
    border-radius: 5px;
    transition: .3s;
}
.gallary-item-button:hover{
    background-color: #744978;
}

.gren{
    background-color: #4D762D;
}
.gren:hover{
    background-color: #6DB236;
}
.badge{
    display: flex;
    gap: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #fff;
    position: absolute;
    z-index: 1;
}
.hit{
    padding: 4px 8px;
    background-color: #4200FF;
    border-radius: 5px;
}
.off{
    padding: 4px 8px;
    background-color: #EA33C0;
    border-radius: 5px;
}
.new{
    padding: 4px 8px;
    background-color: #AF39E7 ;
    border-radius: 5px;
}
.chat{
    width: 64px;
    height: 64px;
    background-image: url(./icon/Property\ 1=Default.png);
    transition: .5s;
    border: none;
    position: absolute;
    background-color: transparent;
    right: 0;
    bottom: 50px;
    position: fixed;
    right: 50px;
}
.chat:hover{
    background-image: url(./icon/Property\ 1=Variant2.png);

}
/* Gallery */
/* Footer */
.footer{
    background-color: #4C394E;
}
.footer-items{
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 32px 0;
}
.footer-item-copyride{
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;  
}
.footer-item-reserved{
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;  
    color: #fff;
}
/* Footer */