*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content-block {
    width: 100%;
}
.header{
    width: 100%;
    text-align: center;
}
.nav{
    padding: 32px 0;
}
.nav-link{
    display: inline-block;
    margin-right: 72px;
}
.nav-link:last-child{
    margin-right: 0;
}
.nav-link-item{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    text-align: center;
    text-decoration: none;
    color: #000;
}
.prevue{
    width: 100%;
    padding: 92px;
    text-align: center;
    background: #00BDC9;
}

.content-text{
    font-size: 24px;
    width: 856px;
    padding: 88px 0 ;
    margin: 0 auto;
}
.text-head{
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 64.8px;
    text-align: center;
    margin-bottom: 30px;
}
.text-item{
    font-family: Inter;
    font-size: 21px;
    font-weight: 500;
    line-height: 31.5px;
    text-align: left;
    margin-bottom: 30px;
}
.text-item-color{
    font-weight: 600;
    color: #04959E;
}
.list{
    padding-left: 20px;
    margin-bottom: 40px;
}
.list-item{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;

}
.button{
    display: flex;
    justify-content: center;
    padding: 10px 24px ;
    background: #04959E;
    margin: 0px auto 88px;
    border:  none;
    
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    text-align: center;
    color: white;
}

.footer{
    border-top: 1px solid #000;
    width: 100%;
    text-align: center;
    padding: 16px 0;
}
.text-footer{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;

}


