* {
    margin: 0;
}

p,
li {
    color: gold;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: black;
    text-align: center;
}

.film-card {
    padding: 20px;
}

.film-name {
    font-style: italic;
    font-size: 26px;
    margin-bottom: 20px;
}

span {
    font-weight: bold;
}

.film-actors {
    margin-bottom: 20px;
}

.actor {}

.films-discription {}