.gallary{
    @include grid(4);
    gap:32px 24px ;
    margin-bottom: 120px;  
} 
.gallary-item{
    padding: 38px;
    background-color: #fff;
    border: 1px solid #A8A8A8;
    position: relative;
    z-index: 0;
    
    &-img{ 
        @include flexbox(center, center);
        margin-bottom: 16px;
        position: relative;
        z-index: 0;
    } 
    &-title{
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;  
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;  
    }
    &-subtitle{
        @include main-typography(left); 
        color: #8E8E8E;
        border-top: 1px solid #8E8E8E;
    }
    &-price{
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        color: #E90000;
        margin: 8px 0 16px;
    }
    &-price-sell{
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        text-decoration: line-through;
        color: #8E8E8E;
        margin: 8px 0 16px;
        position: absolute;
        z-index: 1;
        top: 387px;
        left: 135px;
    }
    &-button{
        display: block;
        @include main-typography(center);
        color: #F8FDFE;
        padding: 8px 24px;
        width: 100%;
        background-color: #4C394E;
        border: none;
        border-radius: 5px;
        transition: .3s;
        
        &--gren{
            background-color: #4D762D;
        }  
    }
    &-button:hover{
        background-color: #744978;
    }
    &-button--gren:hover{
        background-color: #6DB236;
    }
}
.wrapper-badge{
    @include flexbox(center, center);
    @include main-typography(center);
    gap: 4px;
    color: #fff;
    position: absolute;
    z-index: 1;
}
.badge{
    padding: 4px 8px;
    border-radius: 5px;
    &--hit{
        background-color: #4200FF;
    }
    &--off{
        background-color: #EA33C0;
    }
    &--new{
        background-color: #AF39E7 ;
    }
}

