.footer{
    background-color: #4C394E;
    &-items{
        @include flexbox(space-between, center);
        color: #fff;
        padding: 32px 0;
    }
    &-item-copyride{
        @include main-typography(center);
        font-family: Cabin;
        color: #fff;  
    }
    &-item-reserved{
        @include main-typography(center);
        font-family: Cabin;
        color: #fff;
    }
}
