/* Header */
.header{
    background-color: #10BBD5;
    position: fixed;
    top: 0; 
    width: 100%; 
    z-index: 10;   
}
.head{
    @include flexbox(space-between, center);
    color: #F8FDFE;
    padding: 16px;
    
    &-logotype{
        @include flexbox(center,center);
        gap: 9px;
        font-size: 24px;
        font-weight: 700;
        color: #F8FDFE;
    }
}
.cart{
    @include flexbox(center,center);
    
    &__price{
        @include main-typography(center);   
    }
    &__button{
        border: none;
        background-color: #10BBD5;
        cursor:pointer;
    }
    &__icon-basket{
        display: block;
    }
    &__icon-wheels{
        padding-left: 5px;
    }
}

.wrapper-category{
    padding: 4px 0;
    background-color: #fff;   
}
.category{
    @include flexbox(space-between, center);
    background-color: #fff;
    &__text{
        @include main-typography(center);
    }
}
.navbar{
    @include flexbox(center, center);
    gap: 40px;
    
    &__item{
        @include main-typography(center);
    }

}