*{
    box-sizing: border-box;

}
body{
    font-family: "Ubuntu", sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px 0px #00000040;
    align-items: center;
    padding: 17px 79px;
    width: 100%;
    position: absolute;
}
.header-logo{
    font-family: Ubuntu;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    color: #fff;
    cursor: pointer;
}
.header-seting{
    display: flex; 
    gap: 25px;
}
.header-icon-item{
    padding-right: 25px;
    cursor: pointer;
}
.header-login{
    display: flex;
    align-items: center;
}
.header-login::before {
	content: '';
	display: block;
	width: 1px;
	height: 19px;
	background-color: rgba(255, 255, 255, 0.9);
    position: relative;
    left: -25px;
}
.header-item{
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;    
    color: #fff;
    padding-right: 5px;
    
}
.header-item span:hover{
    color:#01813F;
    transition: .2s;  
    cursor: pointer; 
}
.header-logo:hover{
    color:#01813F;
    transition: .2s;
}
svg path:hover {
    fill: #01813F;
    transition: .2s;
}
main{
    height: 100vh;
    background-image: url(./img/Фон\ 1.png); 
    background-repeat: no-repeat; 
    background-size: cover; 
}
/* Form */  
.container{
    width: 444px;
}
.form{
    background-color: #fff ;
    padding: 38px 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.singup{
    display: flex;  
    justify-content: space-between;
    margin-bottom: 15px;
    
}
.singup-title{
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}
.singup-title::before{
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    left: 0;   
}
.login{
    font-size: 14px;
    font-weight: 400;
    line-height: 14px; 
    color: #3CB878;
    cursor: pointer;
}
.login:hover{
    color: #01813F;
    text-decoration: underline;
}
.singup-social{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    margin-bottom: 34px;
}
.social-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    position: relative;
    cursor: pointer;
}
.social-info{
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #fff; 
}
.social-icon svg path:hover{
    fill: #fff
}
.facebook{
    background-color: #305DB8;
}
.facebook:hover{
    background-color: #0A162F;
}
.google{
    background-color: #DF4A32;
}
.google:hover{
    background-color: #AB1F09;
}
.google::after{
    content: '';
    width: 1px;
    height: 28px;
    background-color:rgba(43, 13, 9, 0.1);
    position: absolute;
    right: 100px;
}
.facebook::after{
    content: '';
    width: 1px;
    height: 28px;
    background: rgba(10, 22, 47, 0.1);
    position: absolute;
    right: 110px;
}
.or{
    text-align: center;
    font-size: 14px;
    color: #848484;  
    position: relative; 
    margin-bottom: 12px;
}
.or::before{
    content: '';
    display: block;
    width: 152px;
    height: 1px;
    background-color: #f2f2f2;
    position: absolute; 
    top: 50%;
}
.or::after{
    content: '';
    display: block;
    width: 152px;
    height: 1px;
    background-color: #f2f2f2;
    position: absolute; 
    top: 50%;
    right: 0;
}
.form-item{
    width: 100%; 
    padding: 15px 20px;
    margin-bottom: 16px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}   
input:focus{
    outline: none;
    box-shadow: 0px 3px 8px 0px #00000036;
}
::placeholder{
    color: #BEBEBE;
}
.check-text{
    margin-left: 10px;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    padding-left: 20px; 
    cursor: pointer;  
}
.check-text span{
    color: #3CB878;
    padding-bottom: 2px;
}
.check-text span:hover{
    color: #01813F;
    border-bottom: 1px solid #01813F;
}
.checkbox-item{
    appearance: none;
}
.checkbox{
    position: relative;
}
.checkbox-toggle{
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    position: absolute;
    z-index: 1;
    top: -2px;
    left: 0;
    cursor: pointer;
}
.checkbox-toggle::after{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(./img/check.svg);
    background-repeat: no-repeat;
    position: absolute;
    z-index: 2;
    top: 1px;
    left: 3px;
    cursor: pointer;
    opacity: 0;
}
.checkbox-item:checked + 
.checkbox-toggle::after{
    opacity: 1;
}
.btn-create{
    width: 100%;
    padding: 16px;
    background: #3CB878CC;
    border: none;
    margin-top: 20px;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #fff;
    cursor: pointer;
}
.btn-create:hover{
    background-color: #01813F;
}

/* Form */